version: '3.8'

services:
  frontend:
    build: ./frontend_file_trans
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: unless-stopped

  backend:
    build: ./backend_file_trans
    ports:
      - "9003:9003"
    environment:
      - TZ=Asia/Shanghai
    restart: unless-stopped
